#reviews .tb-r-no-bottom-border{
	border-bottom: none;
}

.tb-r-size{
	position:relative;
	padding:20px 0 0;
	overflow:hidden;
}
.tb-r-size-des{
	font-size:14px;
	float:left;
}

.tb-r-size .tb-r-des-total{
	padding:5px 0;
	color:#AAA;
	font-size:12px;
	text-align:center;
}
.tb-r-comment-scale{
	width:350px;
	float:left;
	margin-top:-10px;
	margin-left: 20px;
	border-left:1px solid #E9E9E9;
}

.tb-r-comment-wrapper{
	margin:20px 0;
}

.tb-r-comment-wrapper.tb-r-max-wrapper{
	margin-top:10px;
}

.tb-r-comment-des{
	float:left;
	margin-top: -20px;
	margin-left: 150px;
}

.tb-r-max-wrapper .tb-r-comment-des{
	color:#FE6E1B;
	font-size:14px;
	font-weight:bold;
}

.tb-r-helper-button{
	position:absolute;
	display:block;
	cursor: pointer;
	right:0;
	bottom:22px;
	width:76px;
	height:25px;
	text-indent: -9999px;	
	background:url(../images/helper-button-collapse.png);
}

.tb-r-helper-expand{
	background:url(../images/helper-button-expand.png);
}

/*尺寸面板*/
.SizeHelperPanel{
	background: #FBEFE7;
	border: 1px solid #D7D7D7;
	border-top: 1px solid #FDDCC9;
	padding:20px;
	margin: -10px 0 10px;
	font-size:14px;
	display:none;
}

.SizeHelperPanel .sizeHelperTips{
	font-size:12px;
	color:#999;
	padding-left: 10px;
}

.SizeHelperPanel.SizeHelperPanelExpand{
	display:block;
}


/*尺寸推荐结果面板*/
.sh-result-panel{
	font-size:12px;
	padding-top:10px;
	overflow:hidden;
}

.sh-scale{
	padding-left:65px;
	/*padding-bottom:18px;*/
	overflow:hidden;
}

.sh-size{
	float:left;
	padding-right:20px;
	padding-top:14px;
}

.sh-max-scale{
	background:url(../images/shoes-large-max.png) no-repeat 0 22px;
}

.sh-min-scale{
	background:url(../images/shoes-large-min.png) no-repeat 0 14px;
}

.sh-normal-scale{
	background:url(../images/shoes-large-normal.png) no-repeat 0 14px;
}


.sh-max-scale .sh-size{
	padding-top:22px;
	color:#FF5E00;
}

.sh-scale-wrapper{
	float:left;
	padding: 22px 10px 10px 0;
	margin-top:-10px;
	border-left: 1px solid #E4E4E4;
}

.sh-max-scale .sh-scale-wrapper{
	margin-top:10px;
	padding-top:10px;
}

.sh-scale-tips{
	float:left;
	padding:12px 0 0 24px;
}

.sh-max-scale .sh-scale-tips{
	float:left;
	padding-top:20px;
}

.SizeHelperNoSize{
	display:none;
	padding-top:20px;
	color:#FF5E00;
}
